.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 3%;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

img {
    max-width: 50%;
    height: auto;
}

li {
    color: white;
    padding: 3%;
    align-self: center;
}

li:hover {
    color: rgb(255, 225, 57);
    background-color: rgb(54, 54, 54);
}